@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    height: fit-content;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #e5caf5;
}

body::-webkit-scrollbar {
    width: 1vw;
    height: 1vh;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(113, 111, 111);
    border-radius: 3px;
}

body::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 3px;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 15vw 50vw 35vw;
    grid-template-rows: 5vh 15vh 40vh 40vh;
    row-gap: 5px;
}

.sidebar {
    color: white;
    padding: 5px;
    height: 100%;
}

.link-home {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 95%;
    padding: 5px;
}

.link-home > h1 {
    font-size: 20px;
    margin: 0;
    display: none;
}

.link-home > img {
    width: 30px;
}

.site-nav, .account-nav {
    padding: 10px 0 10px 11px;
    display: none;
}

.site-nav > ul, .account-nav > ul {
    list-style-type: none;
    display: grid;
    padding-inline-start: 0;
    gap: 13px;
}

.site-nav > ul {
    grid-template-rows: repeat(6, 1fr);
}

.account-nav > ul {
    grid-template-rows: repeat(3, 1fr);
}

.site-nav > ul > li, .account-nav > ul > li {
    display: flex;
    gap: 15px;
}

.site-nav > ul > li > img, .account-nav> ul > li > img {
    max-width: 20px;
}

.header {
    grid-area: 2 / 1 / 3 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr 1px;
    grid-template-columns: 33% 36% 30%;
    box-shadow: 0 5px 5px #ccc;
    height: 100%;
    padding: 2% 5%;
    background-color: white;
}

.profilepic { 
    display: none;
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-head > img {
    max-width: 20vw;
    border-radius: 50%;
    grid-area: 1 / 2 / 4 / 3;
}

form {
    display: flex;
    gap: 15px;
    padding: 10px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 13vw;
    width: 70vw;
}

#searchbar {
    appearance: none;
    width: 75%;
    height: 24px;
    border: none;
    border-radius: 15px;
    background-color: white;
}

.profile-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 8px 10px;
}

.profile-nav > p {
    font-weight: 700;
    display: none;
}

.alert {
    position: absolute;
    top: 1.5vh;
    right: 7vw;
}

.profile-head {
    display: grid;
    grid-template-columns: 60px 2fr;
    grid-template-rows: repeat(3, 1fr);
    grid-area: 1 / 1 / 3 / 3;
    align-items: center;
    column-gap: 25%;
    height: 100%;
}

.greet {
    grid-area: 1 / 1 / 2 / 2;
}

.profile-name {
    grid-area: 2 / 1 / 4 / 2;
}

.profile-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 3 / 3 / 4;
}

.new-btn {
    background-color: #b048ec;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 8px 0;
    width: 75px;
    font-weight: 600;
}

.post-btn {
    display: none;
}

.new-post {
    display: none;
}

.projects {
    grid-area: 3 / 1 / 5 / 3;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px 20px 0 20px;
    height: 100%;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    overflow: auto;
}

.projects-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.projects-list::-webkit-scrollbar-thumb {
    background-color: rgb(113, 111, 111);
    border-radius: 3px;
}

.projects-list::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 3px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 2fr 0.5fr;
    row-gap: 10px;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    border-left: 5px solid #0ea5e9;
    box-shadow: 2px 3px 3px #ccc;
}

.description {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.description > p {
    font-size: 15px;
}

.project-btns {
    grid-area: 2 / 2 / 3 / 3;
}

.announcements {
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px 20px 20px 0;
}

.announce-text {
    background-color: white;
    padding: 3vw;
    border-radius: 5px;
    box-shadow: 2px 3px 3px #ccc;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1vw;
    max-height: 100%;
}

.announce-list {
    border-top: 1px solid #ccc;
    padding-top: 3px;
    max-height: 100%;
    overflow: scroll;
}

.announce-list > p {
    font-size: 12px;
}

.trending {
    grid-area: 4 / 3 / 5 / 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px 20px 0 0;
}

.trend-text {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 3px 3px #ccc;
    padding: 1vw 2vw;
    gap: 2vw;
    overflow: scroll;
}

.trend {
    display: grid;
    grid-template-columns: 45px 1.5fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    font-size: 12px;
    column-gap: 1vw;
}

.trend > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    grid-area: 1 / 1 / 3 / 2;
}

.name {
    grid-area: 1 / 2 / 2 / 3;
}

.title {
    color: rgb(77, 77, 77);
    grid-area: 2 / 2 / 3 / 3;
}

@media only screen and (max-width: 760px) {
    .container {
        grid-template-columns: 100vw;
        grid-template-rows: 5vh 15vh 40vh 25vh 25vh;
    }
    .header {
        grid-area: 2 / 1 / 3 / 1;
    }
    .projects {
        grid-area: 3 / 1 / 4 / 1;
    }
    .projects-list {
        height: 90%;
    }
    .announcements {
        grid-area: 4 / 1 / 5 / 1;
        padding: 40px 20px 0 20px;
    }
    .trending {
        grid-area: 5 / 1 / 6 / 1;
        padding: 40px 20px 0 20px;
    }
}

@media only screen and (min-width: 480px) {
    .container {
        grid-template-rows: 5vh 11vh 42vh 42vh;
    }
    .greet {
        grid-area: 1 / 2 / 2 / 3;
    }
    .profile-name {
        grid-area: 2 / 2 / 4 / 3;
    }
    .profile-head >img {
        grid-area: 1 / 1 / 4 / 2;
        max-height: 100%;
    }
    .new-btn {
        font-size: 20px;
        font-weight: normal;
        border-radius: 20px;
    }
    .trending {
        padding-top: 0;
    }
    .trend {
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        grid-template-rows: 5vh 8vh 42vh 42vh;
    }
    .sidebar {
        padding: 7px;
    }
    .link-home > img {
        width: 4vw;
    }
    form {
        top: 5px;
    }
    .alert {
        width: 3.5vw;
        top: 1.3vh;
        right: 15vw;
    }
    .profile-btns {
        position: absolute;
        top: 1vh;
        right: 3vw;
    }
    .new-btn {
        font-size: 15px;
        border-radius: 15px;
    }
    .projects {
        padding-top: 45px;
        height: fit-content;
    }
    .announcements {
        padding-top: 45px;
    }
    .trending {
        height: fit-content;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        grid-template-rows: 7vh 13vh 40vh 40vh;
    }
    .sidebar {
        grid-area: 1 / 1 / 5 / 2;
        background-color: #d294f7;
    }
    .link-home > h1 {
        display: flex;
    }
    .link-home > img {
        width: 25%;
    }
    form {
        left: 15vw;
    }
    .alert {
        right: 4vw;
        height: 4vh;
    }
    .new-btn {
        display: none;
    }
    .header {
        grid-template-columns: 25% 25% 50%;
    }
    .profile-btns {
        grid-area: 1 / 3 / 3 / 4;
        display: grid;
        grid-template-columns: 70% 25%;
        gap: 5%;
        position: relative;
        width: 100%;
        align-items: flex-end;
        padding-bottom: 10px;
    }
    .new-post {
        display: flex;
    }
    #new-label {
        display: none;
    }
    #new-post {
        appearance: none;
        height: 100%;
        width: 100%;
        border-radius: 15px;
        border: #e5caf5 2px solid;
        background-color: white;
    }
    .post-btn {
        display: block;
        background-color: #b048ec;
        color: white;
        border: none;
        border-radius: 15px;
        padding: 8px 0;
        width: 75px;
        font-weight: 600;
    }
    .site-nav, .account-nav {
        display: flex;
        flex-direction: column;
    }
    .header {
        grid-area: 2 / 2 / 3 / 4;
    }
    .projects {
        grid-area: 3 / 2 / 5 / 3;
        max-height: 100%;
    }
    .trend > img {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    form {
        top: 1vh;
    }
    .projects {
        padding-top: 80px;
    }
    .announcements {
        padding-top: 80px;
    }
    .trending {
        padding-top: 30px;
    }
}